node_modules
.next
out
build
.git
.gitignore
.cache
.env*
.vercel
*.tsbuildinfo
next-env.d.ts
README.md
AGENTS.md
CLAUDE.md
docs
docker-compose.yaml
.prettierignore
.prettierrc
.DS_Store
npm-debug.log*
.claude
